<!-- Start: Message Container  -->
<div class="d-flex flex-column h-100">

    <!-- Header  -->
    <div id="header" class="bg-header d-flex align-items-center px-3">
        <div class="d-flex align-items-center me-2" role="button">
            <span class="back-btn text-chat">
                <i class='bx bx-left-arrow-alt fs-1 me-1'></i>
            </span>
            <img src="../../../assets/images/avatar.png" class="profile-img rounded-circle" alt="profile">
        </div>
        <h5 class="m-0">Abhishek</h5>
    </div>

    <!-- Chat Screen  -->
    <div class="chat-container flex-grow-1 p-4">
        <div class="d-flex">
            <div class="chat p-2 rounded-3 my-2 bg-chat"> Message </div>
        </div>
    </div>

    <!-- Message sender input  -->
    <div id="header" class="bg-header d-flex align-items-center">
        <form class="w-100 px-3 d-flex align-items-center" [formGroup]="chatGroup" (ngSubmit)="onSubmit()">
            <input type="text" name="message" id="message" placeholder="Type message" class="form-control"
                formControlName="message">
            <button class="fs-3 ms-3 text-chat border-0" type="submit"><i class='bx bxs-send'></i></button>
        </form>
    </div>
</div>
<!-- End: Message Container  -->