<div class="d-flex h-100 position-relative">
    <div id="sidebar" class="bg-white" [ngClass]="(openSide && media) === true ? 'side' : ''">
        <app-chat-users 
            [usersData]="users"
            [onlineData]="onlineUsers | async"
            (emitSide)="emitSide($event)"
        ></app-chat-users>
    </div>
    <div class="flex-grow-1">
        <app-chat-messages
            (emitSide)="emitSide($event)"
            (emitMessage)="emitMessage($event)"
        ></app-chat-messages>
    </div>
</div>