<div class="d-flex h-100 user-select-none">
    <div id="sidebar" class="bg-white">
        <app-chat-users 
            [users]="onlyChatUsers"
            [senderId]="senderId"
            [online]="onlineUser"
            (emitIds)="emitIds($event)"
            [name]="userName"
            (emitReceiverName)="emitReceiverName($event)"
            [getAllUsers]="allUsers"
            (emitNewMode)="emitNewMode($event)"
        ></app-chat-users>
    </div>
    <div class="flex-grow-1">
        <app-chat-messages
            (emitMessage)="emitMessage($event)"
            [chats]="chatsData"
            [sender]="senderId"
            [name]="receiverName"
        ></app-chat-messages>
    </div>
</div>