* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.login-container {
    width: 800px;
}

.fs-7 {
    font-size: 0.7rem;
}

.back-btn {
    display: none;
}

.bg-theme {
    background-color: #e7e7e7;
}

.bg-header {
    background-color: #f0f2f5;
}

.bg-chat {
    background-color: #d9fdd3;
}

#sidebar {
    flex: 0 0 500px;
    transition: 0.4s all;
}

#header {
    flex: 0 0 60px;
}

.profile-img {
    width: 40px;
}

.user-img {
    width: 50px;
}

.text-chat {
    color: #54656f;
}

.user {
    &:hover {
        background-color: #f5f6f6;
    }
}

.chat-container {
    background-image: url('./assets/images/bg-1.jpg');
}

.text-online {
    color: #03c603;
}

.text-read {
    color: #01eeff;
}

.side {
    transform: translateX(-100%);
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;

    &-thumb {
        background-color: #54656f;
        border-radius: 12px;
    }

    &-button {
        visibility: hidden;
        height: 2px;
        width: 2px;

        &:vertical:start:increment,
        &:vertical:end:decrement,
        &:horizontal:start:increment,
        &:horizontal:end:decrement {
            display: none;
        }
    }
}

.chat {
    padding: 0.4rem 3.2rem 0.4rem 0.4rem;
    max-width: 500px;

    &-info {
        right: 3px;
        bottom: 3px;
    }
}

#loader {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#user-chat {
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.6s all;
    transform: translateX(-100%);
}

#toggle:checked {

    &~.user-container {
        #user-chat {
            transform: translateX(0px);
        }
    }
}

#typer{
    left: 20px;
    z-index: -1;
}

.translate-up{
    transform: translateY(30px);
}

@media(max-width: 576px) {

    .login-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #sidebar {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .back-btn {
        display: block;
    }
}